.login {
  display: flex;
  .login_left {
    display: block;
    width: 50%;
    height: 100%;
    background-image: url("https://img.yasuotu.com/uploads/2021/06/02/60b76e4b490ca_60b76e4be4788.png?time=1622634075");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    .link_but {
      width: 122px;
      height: 85px;
      background: rgba(0, 0, 0, 0.45);
      box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.16);
      border-radius: 16px;
      font-size: 32px;
      font-family: Poppins;
      font-weight: bold;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 15px;
      left: 74px;
    }
  }
  .login_right {
    width: 50%;
    height: 100%;
    // background-image: url("~@/assets/login_right.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #333;
    .docker_login {
      width: 520px;
      margin: 170px 0 0 129px;
      background: #1d1d1d;
      border: 1px solid #575757;
      box-shadow: 10px 25px 45px #000000;
      border-radius: 39px;
      .login_cont {
        padding: 60px;
        .login_top {
          margin-bottom: 40px;
          .tite {
            margin-bottom: 24px;
            display: flex;
            .text_active {
              margin-right: 25px;
              .key {
                font-size: 30px;
                font-family: PingFangSC-Semibold;
                line-height: 42px;
                color: #ffffff;
                margin-bottom: 10px;
              }
              .active_lin {
                width: 55px;
                height: 0px;
                border-top: 4px solid #3772ff;
                opacity: 1;
                margin: 0 auto;
              }
            }
          }
          .sologin {
            font-size: 14px;
            font-family: PingFangSC-Regular;
            color: #aaaaaa;
            opacity: 1;
          }
        }
        .login_input {
          .tite {
            font-size: 16px;
            font-family: PingFangSC-Semibold;
            color: #ffffff;
            opacity: 1;
            margin-bottom: 15px;
          }
          .ruleForm {
            .el-form-item {
              margin-bottom: 30px;
              .el-input__inner {
                height: 50px;
                border: 0;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #fff;
                background: #2f2f2f;
                border-radius: 6px;
              }
            }
            .verif {
              position: relative;
              .buton_h {
                position: absolute;
                height: 50px;
                line-height: 50px;
                top: 0;
                right: 15px;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #ffffff;
              }
            }
          }
          .but_login {
            width: 100%;
            height: 50px;
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
            background: #3772ff;
            border-radius: 25px;
            border: none;
            margin-top: 30px;
            &:hover {
              background: #6e98fe;
            }
          }
        }
        //
        .tripartite {
          margin-top:40px;
          .lin_cont {
            display: flex;
            align-items: center;
            .linner {
              width: 100%;
              border-top: 1px solid #e6e6e6;
            }
            .text {
              font-size: 14px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: #ffffff;
              padding: 0 15px;
              white-space: nowrap;
            }
          }
        }
        .tripartite_login {
          margin-top: 43px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .img_txt {
            display: flex;
            align-items: center;
            img {
              display: block;
              margin-right: 7px;
            }
            .login_txt {
              font-size: 16px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: #ffffff;
              &:hover {
                color: #4077f6;
              }
            }
          }
        }
      }
    }
  }
}
