.creation {
  background-color: #000;
  .top_introduce {
    display: flex;
    padding: 100px 0 114px 126px;
    .introduce_left {
      margin-top: 74px;
      .one_tite {
        font-size: 50px;
        font-family: PingFangSC-Semibold;
        color: #ffffff;
        margin-bottom: 55px;
      }
      .sologin {
        font-size: 16px;
        font-family: PingFangSC-Regular;
        color: #ffffff;
      }
      .soling_fgon {
        margin-top: 70px;
      }
      .soling_fgtw {
        margin-top: 25px;
      }
      .pri_buton {
        margin-top: 157px;
        width: 467px;
        height: 66px;
        border-radius: 30px;
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ffffff;
        background-color: #3772ff;
        border: none;
      }
    }
    .introduce_right {
      margin: 47px 0 0 163px;
      .right_img {
        display: block;
        width: 839px;
        height: 725px;
      }
    }
  }
  //
  .cooperation {
    padding: 0 57px 0 126px;
    margin-top: 64px;
    .tite {
      font-size: 45px;
      font-family: PingFangSC-Semibold;
      color: #ffffff;
      margin-bottom: 52px;
    }
    .cooperation_list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cooper {
        width: 32%;
        height: 323px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        .bot_infor {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.5);
          .infor {
            padding: 20px;
            .infor_top {
              display: flex;
              align-items: center;
              margin-bottom: 14px;
              img {
                display: block;
                width: 60px;
                height: 60px;
                margin-right: 14px;
              }
              span {
                font-size: 20px;
                font-family: PingFangSC-Medium;
                color: #ffffff;
              }
            }
            .infor_txt {
              font-size: 14px;
              font-family: PingFangSC-Regular;
              color: #ffffff;
            }
            .infor_bot {
              margin-top: 14px;
              p {
                display: inline-block;
                font-size: 16px;
                padding: 5px 10px;
                background: #f0f4ff;
                border-radius: 19px;
                margin-right: 10px;
                .key {
                  font-size: 14px;
                  font-family: PingFangSC-Semibold;
                  color: #3772ff;
                }
                .value {
                  font-size: 14px;
                  font-family: PingFangSC-Semibold;
                  color: #333333;
                }
              }
            }
          }
        }
      }
    }
  }
  //
  .join {
    margin-top: 90px;
    padding-left: 126px;
    .tite {
      font-size: 45px;
      font-size: 45px;
      font-family: PingFangSC-Semibold;
      color: #ffffff;
      margin-bottom: 36px;
    }
    .form_tabel {
      width: 1061px;
      background: #1d1d1d;
      border-radius: 8px;
      position: relative;
      .right_logo {
        font-size: 123px;
        font-family: PingFangSC-Semibold;
        color: #242424;
        opacity: 1;
        transform: rotate(90deg);
        display: inline-block;
        position: absolute;
        top: 830px;
        right: -350px;
      }
      .tori_img {
        position: absolute;
        display: block;
        width: 170px;
        height: 170px;
        top: -60px;
        right: -60px;
      }
      .form_cont {
        padding: 42px 45px;
        .works {
          width: 353px;
          background: #404040;
          border-radius: 6px;
          display: inline-block;
          .upload {
            display: flex;
            align-items: center;
            justify-content: center;
            .upload-demo {
              text-align: center;
              .el-upload-list {
                margin-bottom: 10px;
              }
            }
          }
          .ext_but {
            width: 97px;
            height: 40px;
            background: #3772ff;
            border-radius: 20px;
            border: none;
            font-size: 14px;
            font-family: PingFangSC-Medium;
            line-height: 20px;
            color: #ffffff;
            margin-bottom: 24px;
          }
          .guige {
            font-size: 14px;
            font-family: PingFangSC-Regular;
            color: #ffffff;
            padding: 24px 0 15px 0;
            text-align: center;
          }
        }
        .el-form-item {
          margin-bottom: 35px;
          .el-form-item__label {
            width: 100%;
            text-align: left;
            margin-bottom: 15px;
            font-size: 16px;
            font-family: PingFangSC-Semibold;
            color: #fff;
          }
          .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
            content: "*";
            color: #e95757 !important;
            margin-right: 0.020833rem;
          }
          .el-radio-button {
            margin-right: 15px;
            .el-radio-button__inner {
              border-radius: 28px;
              background-color: #404040;
              color: #fff;
              border: 0;
            }
          }
          .is-active {
            .el-radio-button__inner {
              border-radius: 28px;
              background-color: #4077f6;
              color: #fff;
            }
          }
          .el-input__inner {
            height: 50px;
            background: #404040;
            color: #fff;
            border-radius: 6px;
            border: 0;
          }
          .el-textarea__inner {
            background: #404040;
            border-radius: 6px;
            border: 0;
            color: #fff;
          }
        }
      }
    }
    .confirm {
      width: 147px;
      height: 40px;
      background: #3772ff;
      border-radius: 20px;
      border: none;
      margin: 80px 0 155px 0;
    }
  }
}
